@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    background-color: #e0e0e2;
    background-size: 1600px 800px;
    padding-top: 10%;
}

.login {
    border: solid black 5px;
    border-radius: 10px;
    background-color: #a6a6a6;
    
    margin: auto;
    padding-top: 10 px;
    
    height: 550px;
    width: 400px;

}

.login h1 {
    padding-top: 50px;
}

.login img {

    display: block;
    
    padding-top: 15px;
    margin: auto;

    height: 100px;
    
    border-radius: 30%;

}


.login h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Nunito Sans', sans-serif;

    padding-bottom: 100px;
}


.login a {
    text-decoration: none;
}

.login button {
    
    background-color: #c82028;
    color: white;
    
    display: block;
    margin: auto;

    font-size: 25px;


    width: 200px;
    height: 60px;

    border-radius: 30px;
    border: solid black 2px;
}

.teste {
    margin-bottom: 15%;
}